* {
	margin: 0;
	padding: 0;
}

body {
	background: gold;
}

header img {
	width: 20%;
	height: 20%;
}

#name {
	width: 1000px;
	height: auto;
	padding-left: 4%;
	padding-bottom: 8%

}

main {
	background: white;
}