* {
	margin: 0;
	padding: 0;
}

body {
	background: gold;
}

header img {
	width: 20%;
	height: 20%;
}

#name {
	width: 65%;
	height: auto;
	padding-left: 4%;
	padding-bottom: 8%

}

form {
	background: white;
	padding: 2%;
}

main p {
	font-weight: 600;
}

#question {
	text-align: left;
	padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
}

#question li{
	padding: 15px 0;
}

.text {
	width: 50%;
	height: 100px;
}

#button {
  position: relative;
	padding: 30px;
  text-align: center;
  margin-top: 15px;
}
